.add-item {
    width: 70px;
    height: 150px;
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
}
  
.some-test {
    /* display: flex; */
    position: fixed;
    top: 3vh;
    left: 2vw;
}
  
.display-notes {
    display: inline-flex;
    margin-top: 10px;
}
  
.notes-item {
    margin: 10px;
    width: 10em;
    height: 10em;
    padding: 10px;
    overflow: scroll;
    white-space: pre-wrap;
    text-align: left;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    position: relative;
}
  
.notes-item:nth-of-type(odd) {
background: #ffc;
}
  
.notes-item:nth-of-type(even) {
background: #ccf;
}

.note-head {
display: flex;
}

.delete-note {
background: none;
border: none;
right: 0;
position: absolute;
}

textarea#notes-value {
background: rgb(234, 246, 252);
box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.3);
border: none;
border-radius: 8px;
padding: 10px;
outline: none;
}

.save-button {
margin-left: 10px;
}
