.underline-highlight {
    border-bottom: 2px solid #2b90d988;
    /* border-bottom: 3px solid #f6ea8c; */
    /* background-color: transparent; */
}

.bold-highlight {
    border-bottom: 3px solid #2b90d9;
}

.dataref {
    background-color: #f6ea8c;
  }

.timeref {
    background-color: #eb9f9f;

}
