.view-btn {
    font-size: 10px;
    position: relative;
    top: -10px;

}

.view-div {
    padding: 5px 10px;
    border-radius: 12px;
    background-color: #f0f5f9;
    margin: 0 0 0 10px;
    font-size: 11px;
    max-height: 100px;
    overflow: auto;
}